<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/solid.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/brands.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
   
</head>

<body>

    <div class="main">
        <div class="header">
            <div class="nav">
                <form class="search" action="">
                    <input type="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
                <div class="thumbs">
                    <i class="fa-solid fa-user"></i>
                    <i class="fa-solid fa-user"></i>
                    <div class="user">
                        <div><i class="fa-solid fa-user"></i></div>
                        <span>Adelakun Muis</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="page-nav">
            <span>Front Office</span>
            <form class="search" action="">
                <input type="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>



        </div>

        <div class="sidebar" id="sidebar">

            <ul class="list" id="nav">
                <li id="modal-open"><a href="#"><i class="fa-solid fa-list"></i><span>New Guest</span></a></li>
                <li><a href="/reservation"><i class="fa-solid fa-list"></i><span>Reservation</span></a></li>
                <li><a href="#"><i class="fa-brands fa-web-awesome"></i><span>Reservation list</span></a></li>
                <li><a href="#"> <i class="fa-solid fa-circle-user"></i><span>New Booking</span></a></li>
                <li><a href="#"> <i class="fa-solid fa-gear"></i><span>Out of order</span></a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i><span>Guest Ledger</span></a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i><span>Arrival List</span></a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i><span>Departure List</span></a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i><span>Guest Database</span></a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i><span>Guest Message</span></a></li>
            </ul>

        </div>
        <div class="page">
            {% block content %} {% endblock %}
        </div>
    </div>


</body>
<script src="{{url_for('static',filename='js/script.js')}}"></script>

</html>