<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/solid.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/brands.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
</head>

<body>

    <div class="main">
        <div class="header">
            <div class="nav">
                <form class="search" action="">
                    <input type="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
                <div class="thumbs">
                    <i class="fa-solid fa-user"></i>
                    <i class="fa-solid fa-user"></i>
                    <div class="user">
                        <div><i class="fa-solid fa-user"></i></div>
                        <span>Adelakun Muis</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="page-nav">
            <span>Front Office</span>
            <form class="search" action="">
                <input type="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>



        </div>

        <div class="sidebar">
            <div class="icons">
                <ul>
                    <li>
                        <i class="fa-brands fa-web-awesome"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-list"></i></i>
                    </li>

                    <li>
                        <i class="fa-solid fa-circle-user"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-gear"></i></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-circle-user"></i>
                    </li>
                </ul>

            </div>
            <ul class="list">
                <li><a href="#">walk in</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Reservation list</a></li>
                <li><a href="#">New Booking</a></li>
                <li><a href="#">Out of order</a></li>
                <li><a href="#">Guest Ledger</a></li>
                <li><a href="#">Arrival List</a></li>
                <li><a href="#">Departure List</a></li>
                <li><a href="#">Guest Database</a></li>
                <li><a href="#">Guest Message</a></li>
            </ul>

        </div>
        <div class="page">
            {% block content %} {% endblock %}
        </div>
    </div>

</body>

</html>