{% extends "auth_template.html" %}




{% block content %}
<h1>Register</h1>
 {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
<form action="" method="POST">
    {{ form.csrf_token }}
    <div class="row">
        {{form.username.label}}
        {{form.username}}
    </div>
    <div class="row">
        {{form.password.label}}
        {{form.password}}
    </div>
    <div class="row">
        {{form.role.label}}
        {{form.role}}
    </div>
    <input type="submit" value="submit">
</form>
{% endblock %}